@page
@model WebApplication4.Pages.Usuarios.CadastrarModel
@{
    ViewData["Title"] = "Cadastrar";
}

<h2>Cadastrar</h2>

<script charset="utf-8" type="text/javascript">
    function checkPassword() {
        var pass = document.getElementById("senha");
        var confirmacao = document.getElementById("confirmsenha");

        if (pass.value != confirmacao.value) {
            window.alert("Senha e confirmação não batem")
        }
        else {
            window.alert("Deu boa!!!")
        }

    }

</script>

<form onsubmit="return checkPassword()">
    <div class="form-group">
        <label for="usuario.Nome">Nome</label>
        <input type="text" name="usuario.Nome" value="@Model.usuario.Nome" class="form-control" placeholder="Nome" />

        <label for="usuario.Email">Email</label>
        <input type="Email" name="usuario.Email" value="@Model.usuario.Email" class="form-control" placeholder="Email" />

        <label for="usuario.Cpf">CPF</label>
        <input type="text" name="usuario.Cpf" value="@Model.usuario.Cpf" class="form-control" placeholder="CPF" />

        <label for="usuario.DataNascimento">Data de nascimento</label>
        <input type="text" name="usuario.DataNascimento" value="@Model.usuario.DataNascimento" class="form-control" placeholder="dd/mm/aaaa" />

        <label for="usuario.Senha">Senha</label>
        <input id ="senha"type="password" name="usuario.Senha" class="form-control" placeholder="Senha" />

        <label for="confirmacaoSenha">Confirmacao de Senha</label>
        <input id ="confirmsenha" type="password" class="form-control" placeholder="Confirmacao de Senha" onchange="return checkPassword()"/>

        <br>
        <button class="btn btn-primary">Enviar</button>
    </div>
</form>
